# Windows image file caches
Thumbs.db
ehthumbs.db

test*.py
test.py
info
info/
info/arc.dir
info\arc.dir
info/*.*
extras/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.prj
OmniScapeLim20.py
OmniScapeLim100.py
OmniScapeLim.py
*.xml
t_t031/dblbnd.adf
OmniScapeLim10.py
test.py
*.adf
test.py
*.dir
mosaic_tiles.py
multiproc.py
*.pyc
OmniScape_waspatialbackup.py
OmniScape0.py
OmniScape1.py
OmniScapeCA.py
OmniScape3.py
OmniScape2.py
OmniScapeCA50Null.py
mosaic_tiles.py
info/arc.dir
info/arc.dir
*.dir
mosaic_tiles.py
mosaic_tiles.py
water_deficit.py
*.dir
info/arc.dir
mosaic_tiles.py
OmniScape_bak.py
info/arc.dir
